@{
    if (Convert.ToInt32(Session["matchedConstituentId"])>0 && Convert.ToInt32(Session["approvalConstituentId"]) >0)
    {
    <table border="1" width="600px">
        <tr>
        <td width="100px">
            <label style="font-weight:bold">Name:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentName"]
            </td>
           <td width="250px">
                 @ViewData["MatchConstituentName"]
            </td>
        </tr>
        <tr>
        <td width="100px">
            <label style="font-weight:bold">Date Of Birth:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentDOB"]
            </td>
           <td width="250px">
                 @ViewData["MatchConstituentDOB"]
            </td>
        </tr> 
        
        <tr>
        <td width="100px">
            <label style="font-weight:bold">Family Info:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentFamily"]
            </td>
           <td width="250px">
                 @ViewData["MatchConstituentFamily"]
            </td>
        </tr>
        
        <tr>
        <td width="100px">
            <label style="font-weight:bold">Address:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentAddress"]
            </td>
           <td width="250px">
                @{foreach (var item in (List<string>)ViewData["MatchConstituentAddress"])
                    {
                      <div>
                        @Html.Label(item)
                        @MvcHtmlString.Create("<br/>")
                        </div>
                    }
                    }
            </td>
        </tr>
        
        <tr>
        <td width="100px">
            <label style="font-weight:bold">Phone:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentPhone"]
            </td>
           <td width="250px">
                  @{foreach (var item in (List<string>)ViewData["MatchConstituentPhone"])
                    {
                        <div>
                        @Html.Label(item)
                        @MvcHtmlString.Create("<br/>")
                        </div>
                    }
                    }
            </td>
        </tr>
        
         <tr>
        <td width="100px">
            <label style="font-weight:bold">Email:</label> 
        </td>
            <td width="250px">
                @ViewData["ApprovalConstituentEmail"]
            </td>
           <td width="250px">
                @{foreach (var item in (List<string>)ViewData["MatchConstituentEmail"])
                  {
                      <div>
                        @Html.Label(item)
                        @MvcHtmlString.Create("<br/>")
                      </div>
                  }
                    }
            </td>
        </tr>
    </table>
    
     <input type="checkbox" id="makeAdmin" name="MakeAdmin" value="MakeAdmin" title="MakeAdmin"/> <label> Make as Admin</label><br/>
     <input type="submit" name="submit" value="Register as New" onclick="RegisterNew()"/>
     <input type="submit" name="submit" value="Register and Link" onclick="RegisterAndLink()"/>
     <input type="submit" name="submit" value="Reject" onclick="Reject()"/>
    
    }
    else if (Convert.ToInt32(Session["approvalConstituentId"]) > 0)
    {
        <input type="checkbox" id="makeAdmin" name="MakeAdmin" value="MakeAdmin"  title="MakeAdmin"/> <label> Make as Admin</label> <br/>
        <input type="submit" name="submit" value="Register as New" onclick="RegisterNew()"/>
        <input type="submit" name="submit" value="Reject" onclick="Reject()"/>
    }
    else
    { 
        <div> Please choose a Approval Constituent and a Match Constituent</div>
    }
}

@{  Html.Telerik().Window()
        .Name("ConfirmReject")
        .Title("Reject Reason")
        .Content(@<text>
         @using (Html.BeginForm())
         {
                <div id="rejectreasonform-form">
                <label  for="email">Enter the E-mail given as user name:</label>
                @Html.TextBox("email") 
                <div class="form-actions">
                    <button type="submit"  class="t-button t-state-default">Submit</button>
                </div>
                <label>An email will be sent to your address with the details.Thank You!!</label>
                </div>
         }
            </text>)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
