@model Website.Models.Constituent
 
   <link rel="stylesheet" href="@Url.Content("~/Content/profile/jquery.Jcrop.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Custom/jquery_form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.Jcrop.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Custom/photoPreview.js")"></script>
 <script type="text/javascript">

     $(function () {
         $("#BornOn").datepicker();
         $("#DiedOn").datepicker();
     });
	</script>
  

    @{ Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>
          $('#photo')
                .click(function (e) {
                    $('#ChangePhoto').data('tWindow').center().open();
                });
          </text>); }
    
    @{  Html.Telerik().Window()
        .Name("ChangePhoto")
        .Title("Change Photo")
        .Content(@<text>
       
       <form name="photoUpload" action="http://localhost/Kallivayalil/ImagePreview/UploadSubmit" method="post" enctype=multipart/form-data>
           <table>
			<tr>
				<td>
					<img src="@Url.Content("~/Content/images/Constituents/NoPic.gif")" alt="Preview" id="imgThumbnail2" height="350px" width="300px" /> 
					<input type="file" name="imageLoad2" id="imageLoad2"  onchange="ChangeImage('imageLoad2','#imgThumbnail2','#preview')" />
					<input type="hidden"  id ='x1' name='x1' value="0"/>
					<input type="hidden"  id ='y1' name='y1' value="0"/>
					<input type="hidden"  id ='x2' name='x2' value="0"/>
					<input type="hidden"  id ='y2' name='y2' value="0"/>
				</td>
				<td>
					<div style="width:115px;height:115px;overflow:hidden;">
						<img src="@Url.Content("~/Content/images/Constituents/noPicThumb.gif")" id="preview" alt="Preview"/>
					</div>
					
					<input type="submit" value= "upload"/>
				</td>
			</tr>
		</table>
       </form>
       
            </text>)
        .Width(400)
        .Height(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}

    <div id="viewProfileDetails" class="employee-details">
           <img src="@Url.Action("ResizeImage", "Constituent", new { width = 100, height = 100, file = Session["ConstituentId"]+".jpg" })"alt="New"  />
           <input id="photo" name="photo" type="submit" value="Change" />
            <ul>
                <li>
                    <label>First Name:</label>@Model.Name.FirstName
                </li>
                <li>
                    <label>Middle Name</label>@Model.Name.MiddleName 
                </li>
                <li>
                    <label>Last Name:</label>@Model.Name.LastName
                </li>
                <li>
                    <label>Gender:</label>@Model.Gender 
                </li>
                <li>
                    <label>Branch Name:</label>@Model.BranchName.Description 
                </li>
                <li>
                    <label>House Name:</label>@Model.HouseName 
                </li>
                 <li>
                    <label>Birth Date:</label>@Model.BornOn.ToString("d") 
                </li> 
                <li>
                    <label>Marital Status:</label>@Model.MaritialStatusString
                </li>
                <li>
                    <input id="viewProfile" type="submit" class="profileButton"  value="Edit" onclick="edit()"/>
                </li>
            </ul>

            
        </div>         

   

<fieldset   id="editProfileDetails" class="profileDetails hidden">
        <div style="float: left; clear: left; width: 748px;">
            First Name : <input class="editField" type="text" name="input" id="FirstName" value="@Model.Name.FirstName"/>
            Gender : <input   class="editField" type="text" name="input" id="Gender" value="@Model.Gender"/>
            MaritalStatus : <input class="editField" type="text" name="input" id="MaritialStatus" value="@Model.MaritialStatus"/>
        </div> 

         <div style="float: left; clear: left; width: 748px;">
            Middle Name :<input class="editField" type="text"  name="input" id="MiddleName" value="@Model.Name.MiddleName"/>
            BranchName : <select class="editField" name="input" id="BranchName">
                        @if (ViewData["branchTypes"] != null)
                        {
                            foreach (var ev in ViewData["branchTypes"] as IEnumerable<Website.Models.ReferenceData.BranchType>)
                            {
                                if (@Model.BranchName.Description.Equals(ev.Description))
                                {<option value=@string.Format("{0}", ev.Id) selected="selected">@ev.Description</option>}
                                else
                                {<option value=@string.Format("{0}", ev.Id)>@ev.Description</option>}
                            }
                        }
                         </select>
            BornOn : <input class="editField" type="text" name="input" id="BornOn" value="@Model.BornOn"/>
        </div> 
    
        <div style="float: left; clear: left; width: 748px;">
            Last Name : <input class="editField" type="text" name="input"  id="LastName" value="@Model.Name.LastName"/>
            HouseName : <input  class="editField"  type="text" name="input"  id="HouseName" value="@Model.HouseName"/>
            DiedOn : <input class="editField" type="text" name="input"  id="DiedOn" value="@Model.DiedOn"/>
        </div>
        
        <div class="hidden">
            <input class="editField" type="text" name="input"  id="HasExpired" value="@Model.HasExpired"/>
            <input  class="editField"  type="text" name="input"  id="IsRegistered" value="@Model.IsRegistered"/>
            <input class="editField" type="text" name="input"  id="NameId" value="@Model.Name.Id"/>
            <input class="editField" type="text" name="input"  id="CreatedDateTime" value="@Model.CreatedDateTime"/>
            <input class="editField" type="text" name="input"  id="CreatedBy" value="@Model.CreatedBy"/>
        </div>


         <input id="personUpdate" type="submit" class="profileButton"  value="Save"/>
      
</fieldset>
     

